<div class='row'>
    <div class='col-md-8'>
        <h1>
            Register a new application:
        </h1>
        <div class='col-md-8'>
            <%= form_for @reg_app do |f| %>
            <div class='form-group'>
                <%= f.label :name %>
                <%= f.text_field :name, class:'form-control', placeholder:"Enter app title" %>
            </div>
            <div class='form-group'>
                <%= f.label :url %>
                <%= f.url_field :url, class: 'form-control', placeholder: "Enter app URL" %>
            </div>
            <div class='form-group'>
                <%= f.submit "Save", class:'btn btn-success'%>
                <%= link_to "Cancel", registered_applications_path, class:'btn btn-warning'%>
            </div>
            <% end %>
        </div>
    </div>
</div>
