<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Joined Us On:</strong> <%= @user.created_at %></p>
<p><strong>Last Updated Your Profile On:</strong> <%= @user.updated_at %></p>

<h1>Registered Applications:</h1>
<p><%= @user.registered_applications.first.name %></p>
<p><%= @user.registered_applications.second.name %></p>
