<h1>User's Email </h1>
<p><%= @user.email %></p>
<p>Created On: <%= @user.created_at %></p>
<p>Updated On: <%= @user.updated_at %></p>
<%= Time.now %>
<h1>Registered Applications</h1>
<p><%= @registered_applications.name %></p>
