<!DOCTYPE html>
<html>
    <head>
        <%= render 'layouts/head_tag' %>
    </head>
    <body class="container">
        <header>
            <%= render 'layouts/header' %>
        </header>

        <% if notice.present? %>
        <aside class="alert alert-info">
            <%= notice %>
        </aside>
        <% end %>

        <% if alert.present? %>
        <aside class="alert alert-danger">
            <%= alert %>
        </aside>
        <% end %>

        <div class="container-fluid">
            <%= yield %>
        </div>

        <%= render 'layouts/footer' %>

    </body>
</html>
